@charset "utf-8";

body {
  font-family: 'NanumSquare', sans-serif !important;
}

/* ========== layout ========== */
.wrap {
  width: 100%;
}

/* ========== common ========== */
.mo {
  display: none;
}

.blind {
  position: absolute;
  top: -9999px;
  left: -9999px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.section-title {
  font-size: 30px;
}

.logo__link {
  color: #39312b;
  font-size: 42px;
  font-weight: 900;
  letter-spacing: -6px;
}

/* ========== header ========== */
.header {
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 115px;
  padding: 0 60px;
  z-index: 10;
  transition: 0.5s;
}

.header.off {
  background-color: transparent;
  top: -115px;
}

.header.on {
  background-color: #fff;
  top: 0px;
}

.gnb {
  height: 100%;
}

.gnb__inner {
  height: 100%;
}

.gnb__link {
  position: relative;
  display: inline-flex;
  align-items: center;
  height: 100%;
  margin-left: 60px;
  font-size: 18px;
  text-transform: uppercase;
}

.gnb__link::after {
  content: "";
  background-color: #888;
  position: absolute;
  left: 50%;
  bottom: 47px;
  width: 0%;
  height: 1px;
  transform: translateX(-50%);
  transition: 0.5s;
}

.gnb__link:hover::after, 
.gnb__link:focus::after {
  width: 100%;
}

/* ========== mobile nav ========== */
.gnb__bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  opacity: 0;
  visibility: hidden;
  z-index: -1;
  transition: 0.3s;
}

.gnb__bg.on {
  opacity: 1;
  visibility: visible;
}

.mo-nav {
  background-color: #fff;
  position: fixed;
  top: 0;
  right: -400px;
  width: 400px;
  height: 100%;
  z-index: 1;
  transition: right 0.3s;
}

.mo-nav.on {
  right: 0;
}

.mo-nav__menu {
  margin: 20px 0 70px;
  padding-top: 260px;
}

.mo-nav__link {
  display: block;
  margin-bottom: 22px;
  color: #919191;
  font-size: 19px;
  font-weight: 600;
  text-transform: uppercase;
  transition: 0.3s;
}

.mo-nav__link:hover,
.mo-nav__link:focus {
  color: #212121;
}

.mo-nav__link-text {
  display: flex;
  align-items: center;
  padding-left: 44px;
  line-height: 2;
  letter-spacing: -0.5px;
}

.mo-nav__link-text::before {
  content: "";
  background: url(../image/icon/menu1.jpg) no-repeat center;
  display: inline-block;
  width: 23px;
  height: 23px;
  margin-right: 30px;
  transition: 0.4s;
}

.mo-nav__link:hover .mo-nav__link-text::before,
.mo-nav__link:focus .mo-nav__link-text::before {
  background-image: url(../image/icon/menu1_on.jpg)
}

.mo-nav__link:nth-of-type(2) .mo-nav__link-text::before {
  background-image: url(../image/icon/menu2.jpg)
} 

.mo-nav__link:nth-of-type(2):hover .mo-nav__link-text::before,
.mo-nav__link:nth-of-type(2):focus .mo-nav__link-text::before {
  background-image: url(../image/icon/menu2_on.jpg)
}

.mo-nav__link:nth-of-type(3) .mo-nav__link-text::before {
  background-image: url(../image/icon/menu3.jpg)
} 

.mo-nav__link:nth-of-type(3):hover .mo-nav__link-text::before,
.mo-nav__link:nth-of-type(3):focus .mo-nav__link-text::before {
  background-image: url(../image/icon/menu3_on.jpg)
}

.mo-nav__link:nth-of-type(4) .mo-nav__link-text::before {
  background-image: url(../image/icon/menu4.jpg)
} 

.mo-nav__link:nth-of-type(4):hover .mo-nav__link-text::before,
.mo-nav__link:nth-of-type(4):focus .mo-nav__link-text::before {
  background-image: url(../image/icon/menu4_on.png)
}

.mo-nav__social {
  margin-left: 44px;
}

.mo-nav__link-sns {
  position: relative;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 42px;
  height: 42px;
  margin-right: 15px;
  color: #989BA2;
  border: 1px solid #eaeaea;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.5s;
}

.mo-nav__link-sns.facebook {
  font-size: 18px;
}

.mo-nav__link-sns.instagram {
  font-size: 20px;
}

.mo-nav__link-sns:hover,
.mo-nav__link-sns:focus {
  color: #ececec;
  border-color: transparent;
}

.mo-nav__link-sns::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0;
  transition: 0.5s;
  z-index: -1;
}

.mo-nav__link-sns.facebook::after {
  background-color: #4267B2;
}

.mo-nav__link-sns.instagram::after {
  background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
}

.mo-nav__link-sns:hover::after,
.mo-nav__link-sns:focus::after {
  height: 100%;
}

/* ========== visual ========== */
.visual {
  position: relative;
  margin-top: 115px;
  padding-bottom: 50px;
  overflow-x: hidden;
}

.visual::before {
  content: "";
  background-color: #f0f0f0;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 53%;
  height: 400px;
}

/* slide */
.visual__slide-wrap {
  position: relative;
  width: 90%;
}

.slide-page {
  position: absolute;
  top: 28%;
  right: 14px;
  z-index: 1;
}

.slide-page__item {
  position: absolute;
  top: 0;
  left: 0;
  display: none;
}

.slide-page__item.on {
  display: block;
}

.slide {
  position: relative;
  height: 860px;
  text-align: center;
}

.slide__item {
  height: 100%;
}

.slide__photo {
  position: relative;
  height: 100%;
}

.slide__img {
  display: block;
  height: auto;
  transform: scale(1);
}

.slick-active .slide__img {
  animation: scale-ani 5s both;
}

.slick-active .slide__mask {
  background-color: rgba(255, 255, 255, 0.1);
  position: absolute;
  top: 0;
  width: 1px;
  height: 100%;
  animation-name: mask;
}

.slick-active .slide__mask.a {
  left: 0;
  animation-duration: 0.6s;
}

.slick-active .slide__mask.b {
  left: 25%;
  animation-duration: 0.9s;
}

.slick-active .slide__mask.c {
  left: 50%;
  animation-duration: 1.2s;
}

.slick-active .slide__mask.d {
  left: 75%;
  animation-duration: 1.5s;
}

.slide__text {
  position: absolute;
  top: 40%;
  left: 8%;
  color: #fff;
  text-align: left;
}

.slide__title {
  display: block;
  margin-bottom: 10px;
  font-size: 50px;
  letter-spacing: -0.5px;
}

.slick-active .slide__title {
  animation: slide-up 1.6s ease-out both;
}

.slide__desc {
  font-size: 20px;
  font-weight: 300;
  text-align: left;
  line-height: 1.6;
  letter-spacing: -0.3px;
}

.slick-active .slide__desc {
  animation: slide-up 1.8s ease-out 0.4s both;
}

/* slide dots */
.slick-dots {
  position: absolute;
  right: -3%;
  bottom: 8%;
  z-index: 1;
}

.slick-dots li {
  background-color: #dedddc;
  width: 12px;
  height: 12px;
  margin-bottom: 13px;
  cursor: pointer;
  transition: 0.3s;
}

.slick-dots li.slick-active {
  background-color: #231815;
}

.slick-dots button {
  text-indent: -9999px;
}

/* visual global menu */
.visual__menu {
  position: absolute;
  left: 7%;
  bottom: 18%;
  animation: slide-up 2s 0.8s both;
}

.visual__menu-link {
  display: inline-flex;
  margin-right: 60px;
  color: #fff;
}

.visual__menu-text {
  font-size: 20px;
  font-weight: bold;
  line-height: 1.6;
}

.visual__menu-text span {
  display: block;
  color: #aaa;
  font-size: 15px;
  font-weight: 100;
}

.visual__menu-arrow {
  position: relative;
  margin-top: 10px;
  margin-left: 20px;
  z-index: 1;
}

.visual__menu-arrow::before {
  content: "";
  background-color: rgba(252, 252, 252, 0.4);
  position: absolute;
  top: -8px;
  right: -8px;
  width: 40px;
  height: 40px;
  z-index: -1;
  transition: 0.3s;
}

.visual__menu-link:hover .visual__menu-arrow::before,
.visual__menu-link:focus .visual__menu-arrow::before {
  top: 0;
  right: 0;
}

/* ========== about ========== */
.about {
  position: relative;
  height: 770px;
  margin: 40px 0;
}

.about__inner {
  background: url("../image/main2_bg.jpg") no-repeat center / cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: 100%;
  margin: auto;
  text-align: center;
}

.about .section-title {
  color: #fff;
  animation: slide-up 1.2s ease-out both;
}

.about__line-box {
  position: relative;
  width: 45%;
  margin: 80px 0 50px;
}

.about__line {
  background-color: rgba(255,255,255,0.3);
  display: block;
  width: 100%;
  height: 1px;
  animation: show 1s ease-out 0.5s both;
}

.about__dots {
  position: absolute;
  top: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  transform: translateY(-50%);
}

.about__dot {
  background-color: #fff;
  position: relative;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  animation: show 1s ease-out both;
}

.about__dot.a {
  animation-delay: 1.2s;
}

.about__dot.b {
  animation-delay: 1.6s;
}

.about__dot.c {
  animation-delay: 2s;
}

.about__dot::before {
  background-color: rgba(255, 255, 255, 0.7);
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  margin-top: -3px;
  margin-left: -3px;
  border-radius: 50%;
  animation: dot-ani 1.5s infinite 0.8s;
}

.about__text-list {
  display: flex;
  width: 75%;
  margin: 0 auto;
}

.about__text {
  width: 33.3333%;
  padding: 0 30px;
  letter-spacing: -0.2px;
}

.about__text:nth-of-type(1) {
  animation: slide-up 1.2s ease-out 1.5s both;
}

.about__text:nth-of-type(2) {
  animation: slide-up 1.2s ease-out 1.7s both;
}

.about__text:nth-of-type(3) {
  margin-right: 0;
  animation: slide-up 1.2s ease-out 1.9s both;

}

.about__subject {
  color: #fff;
  font-size: 20px;
}

.about__desc {
  margin-top: 18px;
  color: #cfc5c5;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  word-break: keep-all;
}

/* ========== premium ========== */
.premium {
  overflow: hidden;
}

.premium__inner {
  background: url(../image/con2_bg.jpg) no-repeat center / cover;
  position: relative;
  width: 95%;
  height: 1020px;
  padding: 100px 0;
  margin: 40px auto 0;
}

.premium__bg-img {
  position: absolute;
  top: 20%;
  left: 0;
  width: 100%;
  overflow: hidden;
  animation: width-ani 1.3s ease-in-out both 1.6s;
}

.premium__text {
  position: absolute;
  left: 8%;
  top: 35%;
}

.premium .section-title {
  margin-bottom: 20px;
}

.premium__desc {
  margin-bottom: 30px;
  font-size: 19px;
  line-height: 1.6;
}

.premium__link-more {
  position: relative;
  display: inline-block;
  font-size: 24px;
}

.premium__link-more::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.08);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 80px;
  height: 15px;
  transition: 0.5s;
}

.premium__link-more:hover::before {
  width: 0;
}

.premium__gallery-item {
  position: absolute;
  width: 15%;
  box-shadow: 5px 6px 15px rgb(3 3 3 / 40%);
  animation: slide-up 1.2s ease-out both;
}

.premium__gallery-item:nth-of-type(1) {
  top: 15%;
  left: 45%;
}

.premium__gallery-item:nth-of-type(2) {
  top: 50%;
  left: 37%;
  animation-delay: 0.6s;
}

.premium__gallery-item:nth-of-type(3) {
  top: 62%;
  left: 55%;
  animation-delay: 0.9s;
}

.premium__gallery-item:nth-of-type(4) {
  top: 10%;
  right: 2%;
  width: 32%;
  max-width: 580px;
  animation-delay: 0.3s;
}

.premium__gallery-item img {
  display: block;
  width: 100%;
}

/* ========== service ========== */
.service__inner {
  position: relative;
  width: 95%;
  margin: 40px auto 0;
  padding: 40px 0;
  text-align: center;
}

.service__inner::before {
  content: "";
  background-color: #eee;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 45%;
  z-index: -1;
}

.service__section-title {
  margin-bottom: 20px;
}

.service__sub-text {
  margin-bottom: 50px;
  font-size: 18px;
}

.service__list {
  display: flex;
  padding-top: 50px;
}

.service__link {
  width: 25%;
  padding: 15px;
  animation: slide-up 1.2s ease-out both;
}

.service__link:nth-of-type(odd) {
  margin-top: -50px;
}

.service__link:nth-of-type(2) {
  animation-delay: 0.2s;
}

.service__link:nth-of-type(3) {
  animation-delay: 0.4s;
}

.service__link:nth-of-type(4) {
  animation-delay: 0.6s;
}

.service__img-box {
  position: relative;
  box-shadow: 10px 10px 10px rgb(0 0 0 / 25%);
  transition: 0.3s;
}

.service__link:hover .service__img-box {
  transform: translate(-8px, -8px);
}

.service__img-box::before {
  content: "VIEW";
  background-color: rgba(44, 35, 28, 0.8);
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  color: #d4d4d4;
  font-size: 22px;
  opacity: 0;
  transition: 0.3s;
}

.service__link:hover .service__img-box::before {
  opacity: 1;
}

.service__img-box img {
  display: block;
  width: 100%;
}

.service__subject {
  display: block;
  margin: 40px 0 15px;
  font-size: 22px;
}

.service__subject--en {
  display: block;
  color: #888;
  font-size: 18px;
  font-weight: normal;
}

.service__desc {
  padding: 0 8px;
  font-size: 17px;
  word-break: keep-all;
}

/* ========== footer ========== */
.footer {
  text-align: center;
}

.footer__top {
  margin-top: 80px;
}

.sns-list__link {
  display: inline-block;
  margin-right: 30px;
}

.sns-list__link:last-child {
  margin-right: 0;
}

.sns-list__link img {
  vertical-align: middle;
}

.footer__logo {
  margin: 40px 0;
}

.footer__logo .logo__link {
  font-size: 40px;
  font-weight: 600;
}

.footer__company {
  font-size: 17px;
}

.footer__copyright {
  display: block;
  margin-top: 20px;
  color: #888;
  font-size: 15px;
  font-weight: 100;
}

.footer__bottom {
  background: url(../image/bottom_bg.jpg) no-repeat center / cover;
  margin-top: 80px;
  padding: 150px 0;
}

.footer__typo {
  color: #fff;
  font-size: 22px;
  animation: slide-up 1.1s ease-out both;
}

/* =============================== */
/* ========== animation ========== */
@keyframes mask {
  0%, 40% {
    background-color: rgba(0, 0, 0, 0.8);
    width: 25%;
  }
  99% {
    background-color: rgba(0, 0, 0, 0.3);
  }
}

@keyframes scale-ani {
  0%, 30% {
    transform: scale(1.3);
  }
}

@keyframes slide-up {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
    transform: translateY(45px);
  }
}

@keyframes show {
  0%, 40% {
    opacity: 0;
  }
}

@keyframes dot-ani {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  40%{
    opacity: 0.5;
  }
  100% {
    transform: scale(3);
    opacity: 0;
  }
}

@keyframes width-ani {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}