/* ========== 반응형 ========== */
@media screen and (max-width: 1100px) {
  /* ========== common ========== */
  .logo__link {
    font-size: 32px;
  }

  /* ========== header ========== */
  .header {
    height: 65px;
    padding: 0 20px;
  }

  .gnb {
    height: auto;
  }

  .gnb__link {
    display: none;
  }

  .gnb__btn-menu {
    position: relative;
    width: 28px;
    height: 18px;
    margin-bottom: 6px;
    z-index: 10;
  }
  
  .gnb__btn-menu .line {
    background-color: #4d4d4d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.3s;
  }

  .gnb__btn-menu .line:nth-of-type(2) {
    top: 50%;
  }

  .gnb__btn-menu .line:nth-of-type(3) {
    top: 100%;
  }

  .gnb__btn-menu.on .line:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .gnb__btn-menu.on .line:nth-of-type(2) {
    opacity: 0;
  }
  
  .gnb__btn-menu.on .line:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* ========== visual ========== */
  .visual {
    margin-top: 65px;
  }

  /* slide */
  .slide__text {
    left: 3%;
  }

  /* visual global menu */
  .visual__menu {
    left: 3%;
  }

  .visual__menu-link {
    margin-right: 40px;
    margin-bottom: 25px;
  }

  .visual__menu-link:last-child {
    margin: 0;
  }

  .visual__menu-text {
    font-size: 18px;
  }

  .visual__menu-arrow {
    margin-left: 15px;
  }

  .visual__menu-arrow::before {
    width: 37px;
    height: 37px;
  }

  .visual__menu-arrow img {
    width: 60px;
  }
}

@media screen and (max-width: 950px) {
  /* visual */
  /* slide */
  .slide-page {
    right: 17px;
  }

  .slide-page__item {
    width: auto;
  }

  .slide-page__item img {
    transform: scale(0.8);
  }

  .slide__title {
    font-size: 40px;
  }

  .slide__desc {
    font-size: 18px;
  }
}

@media screen and (max-width: 750px) {
  /* visual */
  /* slide */
  .slide-page {
    right: 19px;
  }

  .slide-page__item img {
    transform: scale(0.7);
  }

  .slide__title {
    font-size: 32px;
  }

  .slide__desc {
    font-size: 15px;
  }

  /* slide dots */
  .slick-dots {
    right: -5%;
  }

  /* mobile nav */
  .mo-nav {
    width: 320px;
  }

  .mo-nav__link {
    font-size: 18px;
  }

  .mo-nav__link-text::before {
    margin-right: 25px;
  }

  /* visual global menu */
  .visual__menu-text {
    font-size: 17px;
  }

  .visual__menu-arrow {
    margin-left: 12px;
  }

  .visual__menu-arrow::before {
    width: 34px;
    height: 34px;
  }

  .visual__menu-arrow img {
    width: 55px;
  }
}

@media screen and (max-width: 420px) {
  /* visual */
  /* slide */
  .slide__title {
    font-size: 24px;
  }

  .slide__desc {
    font-size: 13px;
  }

  /* slide dots */
  .slick-dots {
    right: -7%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  /* mobile nav */
  .mo-nav {
    width: 100%;
  }

  .mo-nav__link {
    font-size: 17px;
  }

  .mo-nav__link-text::before {
    margin-right: 20px;
  }

  /* visual global menu */
  .visual__menu-text {
    font-size: 15px;
  }

  .visual__menu-arrow {
    margin-left: 12px;
  }

  .visual__menu-arrow::before {
    width: 34px;
    height: 34px;
  }

  .visual__menu-arrow img {
    width: 55px;
  }
}