/* ========== 반응형 ========== */
@media screen and (max-width: 1400px) {
  /* ========== about ========== */
  .about__inner {
    width: 100%;
  }

  .about__text {
    padding: 0 10px;
  }
}

@media screen and (max-width: 1100px) {
  /* ========== common ========== */
  .mo {
    display: inline-block;
  }

  .logo__link {
    font-size: 32px;
  }

  .section-title {
    font-size: 27px;
  }

  /* ========== header ========== */
  .header {
    height: 65px;
    padding: 0 20px;
  }

  .gnb {
    height: auto;
  }

  .gnb__link {
    display: none;
  }

  .gnb__btn-menu {
    position: relative;
    width: 28px;
    height: 18px;
    margin-bottom: 6px;
    z-index: 10;
  }
  
  .gnb__btn-menu .line {
    background-color: #4d4d4d;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transition: 0.3s;
  }

  .gnb__btn-menu .line:nth-of-type(2) {
    top: 50%;
  }

  .gnb__btn-menu .line:nth-of-type(3) {
    top: 100%;
  }

  .gnb__btn-menu.on .line:nth-of-type(1) {
    top: 50%;
    transform: rotate(45deg);
  }
  
  .gnb__btn-menu.on .line:nth-of-type(2) {
    opacity: 0;
  }
  
  .gnb__btn-menu.on .line:nth-of-type(3) {
    top: 50%;
    transform: rotate(-45deg);
  }

  /* ========== visual ========== */
  .visual {
    margin-top: 65px;
  }

  /* slide */
  .slide__text {
    left: 3%;
  }

  /* visual global menu */
  .visual__menu {
    left: 3%;
  }

  .visual__menu-link {
    margin-right: 40px;
    margin-bottom: 25px;
  }

  .visual__menu-link:last-child {
    margin: 0;
  }

  .visual__menu-text {
    font-size: 18px;
  }

  .visual__menu-arrow {
    margin-left: 15px;
  }

  .visual__menu-arrow::before {
    width: 37px;
    height: 37px;
  }

  .visual__menu-arrow img {
    width: 60px;
  }

  /* ========== about ========== */
  .about {
    height: 600px;
  }

  .about__line-box {
    width: 50%;
    margin-top: 70px;
  }

  .about__text-list {
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
  }

  .about__text {
    width: 50%;
    margin-bottom: 5px;
    padding: 0 5px;
  }

  .about__subject {
    font-size: 19px;
  }

  .about__desc {
    margin-top: 16px;
    font-size: 17px;
  }

  /* ========== premium ========== */
  .premium__inner {
    width: 100%;
    height: 800px;
  }
  
  .premium__bg-img {
    left: 5px;
  }
  
  .premium__text {
    left: 5%;
  }

  .premium__section-title {
    font-size: 30px;
  }

  /* ========== service ========== */
  .service__inner {
    width: 100%;
  }

  .service__link {
    padding: 10px;
  }

  .service__desc {
    font-size: 16px;
  }

  .service__subject {
    font-size: 20px;
  }

  .service__subject-en {
    font-size: 17px;
  }

  .service__desc {
    font-size: 16px;
  }

  /* ========== footer ========== */
  .footer__logo {
    margin: 35px 0;
  }

  .footer__logo .logo__link {
    font-size: 35px;
  }

  .footer__company {
    font-size: 16px;
  }

  .footer__bottom {
    padding: 120px 0;
  }

  .footer__typo {
    font-size: 20px;
  }
}

@media screen and (max-width: 950px) {
  /* ========== common ========== */
  .mo {
    display: none;
  }

  .section-title {
    font-size: 23px;
  }

  /* ========== visual ========== */
  /* slide */
  .slide-page {
    right: 17px;
  }

  .slide-page__item {
    width: auto;
  }

  .slide-page__item img {
    transform: scale(0.8);
  }

  .slide__title {
    font-size: 40px;
  }

  .slide__desc {
    font-size: 18px;
  }

  /* ========== about ========== */
  .about {
    height: 480px;
    margin-bottom: 0;
  }

  .about__text {
    width: 33.3333%;
  }

  .about__subject {
    font-size: 18px;
  }

  .about__desc {
    font-size: 15px;
  }

  /* ========== premium ========== */
  .premium__bg-img {
    top: 28%;
    left: 20px;
    height: 60px;
  }

  .premium__bg-img img {
    height: 100%;
  }

  .premium__text {
    top: 20px;
    left: 0;
    width: 100%;
    text-align: center;
  }

  .premium__gallery {
    position: relative;
    top: 30%;
    left: 50%;
    width: 80%;
    height: 500px;
    transform: translateX(-50%);
  }

  .premium__gallery-item {
    width: 22%;
  }

  .premium__gallery-item:nth-of-type(1) {
    left: 13%;
  }
  
  .premium__gallery-item:nth-of-type(2) {
    left: 4%;
  }
  
  .premium__gallery-item:nth-of-type(3) {
    left: 36%;
  }
  
  .premium__gallery-item:nth-of-type(4) {
    top: 1%;
    left: 50%;
    width: 48%;
  }

  /* ========== service ========== */
  .service__sub-text {
    font-size: 16px;
  }

  .service__list {
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
  }

  .service__link {
    width: 50%;
    margin-bottom: 20px;
    padding: 15px;
  }

  .service__subject {
    margin: 20px 0 10px;
    font-size: 17px;
  }

  .service__subject--en {
    font-size: 14px;
  }

  .service__desc {
    font-size: 15px;
  }
}

@media screen and (max-width: 750px) {
  /* ========== common ========== */
  .section-title {
    margin-bottom: 10px;
    font-size: 20px;
  }

  /* mobile nav */
  .mo-nav {
    width: 320px;
  }

  .mo-nav__link {
    font-size: 18px;
  }

  .mo-nav__link-text::before {
    margin-right: 25px;
  }
  
  /* ========== visual ========== */
  /* slide */
  .slide-page {
    right: 19px;
  }

  .slide-page__item img {
    transform: scale(0.7);
  }

  .slide__title {
    font-size: 32px;
  }

  .slide__desc {
    font-size: 15px;
  }

  /* slide dots */
  .slick-dots {
    right: -5%;
  }

  /* visual global menu */
  .visual__menu-text {
    font-size: 17px;
  }

  .visual__menu-arrow {
    margin-left: 12px;
  }

  .visual__menu-arrow::before {
    width: 34px;
    height: 34px;
  }

  .visual__menu-arrow img {
    width: 55px;
  }

  /* ========== about ========== */
  .about__line-box {
    display: none;
  }

  .about__text {
    width: 75%;
    margin-top: 20px;
  }

  .about__subject {
    font-size: 17px;
  }

  .about__desc {
    margin-top: 5px;
    font-size: 14px;
  }

  /* ========== premium ========== */
  .premium__inner {
    height: 685px;
  }

  .premium__bg-img {
    left: 0;
    height: 32px;
    text-align: center;
  }

  .premium__desc {
    margin-bottom: 20px;
    font-size: 15px;
  }

  .premium__link-more {
    font-size: 20px;
  }

  .premium__link-more::before {
    width: 65px;
  }

  .premium__gallery {
    width: 100%;
    height: 400px;
  }

  .premium__gallery-item {
    width: 22%;
  }

  .premium__gallery-item:nth-of-type(1) {
    left: 10%;
  }
  
  .premium__gallery-item:nth-of-type(2) {
    left: 5%;
  }
  
  .premium__gallery-item:nth-of-type(3) {
    left: 38%;
  }
  
  .premium__gallery-item:nth-of-type(4) {
    top: -4%;
    left: 50%;
    width: 49%;
  }

  /* ========== service ========== */
  .service__sub-text {
    font-size: 14px;
  }

  .service__subject--en {
    font-size: 13px;
  }

  .service__desc {
    font-size: 13px;
  }

  /* ========== footer ========== */
  .footer__top {
    margin-top: 50px;
  }

  .sns-list__link {
    margin-right: 25px;
  }

  .sns-list__link img {
    width: 90%;
  }

  .footer__logo {
    margin: 30px 0;
  }

  .footer__logo .logo__link {
    font-size: 30px;
  }

  .footer__company {
    font-size: 14px;
  }

  .footer__bottom {
    margin-top: 50px;
    padding: 100px 0;
  }

  .footer__typo {
    font-size: 18px;
  }
}

@media screen and (max-width: 420px) {
  /* ========== about ========== */
  .section-title {
    font-size: 18px;
  }

  /* mobile nav */
  .mo-nav {
    width: 100%;
  }

  .mo-nav__link {
    font-size: 17px;
  }

  .mo-nav__link-text::before {
    margin-right: 20px;
  }

  /* ========== visual ========== */
  /* slide */
  .slide__title {
    font-size: 24px;
  }

  .slide__desc {
    font-size: 13px;
  }

  /* slide dots */
  .slick-dots {
    right: -7%;
  }

  .slick-dots li {
    width: 10px;
    height: 10px;
  }

  /* visual global menu */
  .visual__menu-text {
    font-size: 15px;
  }

  .visual__menu-arrow {
    margin-left: 12px;
  }

  .visual__menu-arrow::before {
    width: 34px;
    height: 34px;
  }

  .visual__menu-arrow img {
    width: 55px;
  }

  /* ========== about ========== */
  .about__line-box {
    display: none;
  }

  .about__text {
    width: 100%;
    margin-top: 15px;
  }

  .about__subject {
    font-size: 16px;
  }

  .about__desc {
    font-size: 14px;
  }

  /* ========== premium ========== */
  .premium__inner {
    height: 640px;
  }

  .premium__bg-img {
    top: 26%;
    left: 0;
    height: 32px;
    text-align: center;
  }

  .premium__desc {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .premium__link-more {
    font-size: 19px;
  }

  .premium__link-more::before {
    width: 55px;
  }

  .premium__gallery-item {
    width: 28%;
  }
  
  .premium__gallery-item:nth-of-type(3) {
    left: 45%;
  }
  
  .premium__gallery-item:nth-of-type(4) {
    top: -4%;
    left: 48%;
    width: 48%;
  }

  /* ========== service ========== */
  .service__inner {
    padding-top: 20px;
  }

  .service__section-title {
    margin-bottom: 20px;
  }

  .service__list {
    width: 100%;
    padding-top: 0;
  }

  .service__link {
    width: 98%;
  }

  .service__link:nth-of-type(odd) {
    margin-top: 0;
  }

  .service__link:hover .service__img-box {
    transform: translate(0, 0);
  }
}